<div class="row">

     <!-- Index -->
    <div class="col-md-12">
        <h1 class="my-4">Inicio</h1>
        
        {{#each errors}}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {{/each}}
        {{#if successMessage}}
            <div class="alert alert-success">
                {{successMessage}}
            </div>
        {{/if}}
        {{#if errorMessage}}
            <div class="alert alert-danger">
                {{errorMessage}}
            </div>
        {{/if}}
        {{#each posts}}
            <!-- Blog Post -->
            <div class="card mb-10">
                <div class="card-body">
                    <h2 class="card-title">{{title}}</h2>
                    <p class="card-text">{{content}}</p>
                    <a href="/posts/{{_id}}" class="btn btn-primary">Leer más &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    {{date datetime}} por {{user}}
                </div>
            </div>
        {{/each}}
    </div>

</div>
