<div class="row">
    <div class="col-md-8">
        <h1 class="my-4">Post</h1>

        {{#each errors}}
            <div class="alert alert-danger">
                {{message}}
            </div>
        {{/each}}
        {{#if successMessage}}
            <div class="alert alert-success">
                {{successMessage}}
            </div>
        {{/if}}
        {{#if errorMessage}}
            <div class="alert alert-danger">
                {{errorMessage}}
            </div>
        {{/if}}
        {{#if singlePost}}
            <!-- Blog Post -->
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{singlePost.title}}</h2>
                    <p class="card-text">{{singlePost.content}}</p>
                </div>
                <div class="card-footer text-muted">
                    {{date singlePost.datetime}} por {{singlePost.user}}
                        
                </div>
            </div>
        {{/if}}    
    </div>
</div>
